= render layout: 'user_sidebar' do
  .col-lg-9
    .panel.panel-flat
      .panel-body
        .row
          .col-md-12
            .jui-tabs-basic
              %ul
                %li
                  %a{:href => "#tabs-basic-1"}
                    Информация
                %li
                  %a{:href => "#tabs-basic-2"}
                    Подробнее
                %li
                  %a{:href => "#tabs-basic-3"}
                    Связанные карточки
                    %span.label.bg-blue 3
              #tabs-basic-1
                %table.table.user-leads-datatable
                  %thead
                    %tr
                      %th Статус
                      %th Имя
                      %th Номер телефона
                      %th Добавлен
              #tabs-basic-2
                asdasd
              #tabs-basic-3
                Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet.
