%ul.icons-list
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %i.icon-menu9
    %ul.dropdown-menu.dropdown-menu-right
      %li
        %a{:href => "#"}
          %i.icon-spinner11
          Конвертировать
      %li
        %a{:href => "#"}
          %i.icon-cross2
          Закрыть
      %li
        %a{:href => "#"}
          %i.icon-users2
          Делегировать
      %li
        %a{:href => "#"}
          %i.icon-envelope
          Отправить почтой