- if @user.departments.any?
  / Page header
  .content-group
    .page-header.page-header-default{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h5
            %i.icon-users.position-left
            %span.text-semibold
              Контакты отдела -
              - if @user.departments.count == 1
                %span.text-size-large
                  = @user.departments.first.name
              - elsif @user.departments.any?
                = select_tag(:department, options_from_collection_for_select(current_user.departments, :id, :name, 1), class: 'select-departments' )
            %small.display-block Потенциальные клиенты
        .heading-elements
          = link_to new_contact_path do
            %button.btn.btn-success.heading-btn{:type => "button"}
              %i.icon-plus3.position-left
              Добавить контакт
  .content
    / Basic datatable
    .panel.panel-flat
      .panel-heading
        %h5.panel-title Список контактов
        .heading-elements
          %ul.icons-list
            %li
              %a{"data-action" => "collapse"}
            %li
              %a{"data-action" => "reload"}
            %li
              %a{"data-action" => "close"}
      .panel-body
        .row
          .col-md-9
          .col-md-3
            .content-group.pull-right
              %span.display-block.text-semibold.text-right.mb-5 Дата создания
              %button.btn.btn-default.daterange-ranges.heading-btn.datatables-datapicker{:type => "button", data: { start: (Time.zone.now - 30.days).strftime('%Y-%m-%d %T'), end: Time.zone.now.strftime('%Y-%m-%d %T') }}
                %i.icon-calendar2.position-left
                %span
                %b.caret
        = render 'contacts_table'
