- if can? :manage, Contact
  / Page header
  .content-group
    .page-header.page-header-default{:style => "border-left: 1px solid #ddd; border-right: 1px solid #ddd;"}
      .page-header-content
        .page-title
          %h5
            %i.icon-users.position-left
            %span.text-semibold
              Контакты отдела -
              %span.text-semibold
                = current_department.name
        .heading-elements
          = link_to new_contact_path do
            %button.btn.btn-success.heading-btn{:type => "button"}
              %i.icon-plus3.position-left
              Добавить контакт
  .content
    / Basic datatable
    .panel.panel-flat
      .panel-heading
        %h5.panel-title Фильтр по регионам
        .heading-elements
          %ul.icons-list
            %li
              %a{"data-action" => "collapse"}
            %li
              %a{"data-action" => "reload"}
            %li
              %a{"data-action" => "close"}
      .panel-body
        .row
          .col-md-9
            .form-group
              .input-group
                %span.input-group-addon
                  .icon-earth
                - regions_list = [['г.Хмельницкий', 'г.Хмельницкий'],
                                  ['г.Камянец-Подольский', 'г.Камянец-Подольский'],
                                  ['Хмельницкая обл.', 'Хмельницкая обл.'],
                                  ['Винницкая обл.', 'Винницкая обл.'],
                                  ['Черновицкая обл.', 'Черновицкая обл.'],
                                  ['Ровенская обл.', 'Ровенская обл.'],
                                  ['Волынская обл.', 'Волынская обл.'],
                                  ['Днепропетровская обл.', 'Днепропетровская обл.'],
                                  ['Донецкая обл.', 'Донецкая обл.'],
                                  ['Житомирская обл.', 'Житомирская обл.'],
                                  ['Закарпатская обл.', 'Закарпатская обл.'],
                                  ['Запорожская обл.', 'Запорожская обл.'],
                                  ['Ивано-Франковская обл.', 'Ивано-Франковская обл.'],
                                  ['Киевская обл.', 'Киевская обл.'],
                                  ['Кировоградская обл.', 'Кировоградская обл.'],
                                  ['Луганская обл.', 'Луганская обл.'],
                                  ['Львовская обл.', 'Львовская обл.'],
                                  ['Николаевская обл.', 'Николаевская обл.'],
                                  ['Одесская обл.', 'Одесская обл.'],
                                  ['Полтавская обл.', 'Полтавская обл.'],
                                  ['Сумская обл.', 'Сумская обл.'],
                                  ['Тернопольская обл.', 'Тернопольская обл.'],
                                  ['Харьковская обл.', 'Харьковская обл.'],
                                  ['Херсонская обл.', 'Херсонская обл.'],
                                  ['Черкасская обл.', 'Черкасская обл.'],
                                  ['Черниговская обл.', 'Черниговская обл.'],
                                  ['Киев', 'Киев'],
                                  ['Севастополь', 'Севастополь'],
                                  ['АР Крым', 'АР Крым'],
                                  ['Неизвестно', 'Неизвестно']]
                = select_tag(:filtered_regions, options_for_select(regions_list), {class: 'filtered-regions', multiple: true, data: { placeholder: 'Выберите регион(-ы)' }} )
              .text-left.mt-10
                %button.btn.bg-slate-400.select-filtered-regions-clear{type: 'button'} Очистить фильтр
          .col-md-3
            .content-group.pull-right
              %button.btn.btn-default.daterange-ranges.heading-btn.datatables-datapicker{:type => "button", data: { start: (Time.zone.now - 30.days).strftime('%Y-%m-%d %T'), end: Time.zone.now.strftime('%Y-%m-%d %T') }}
                %i.icon-calendar2.position-left
                %span
                %b.caret
        = render 'contacts_table'
