.row
  .col-md-12
    .table-responsive
      %table.table
        %thead
          %th Модели
        %tbody
          %tr
            %td
              = link_to 'Пользователи', admin_users_path
          %tr
            %td
              = link_to 'Отделы', admin_departments_path