#modal_default.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h5.modal-title Выберите отдел
      = form_tag initialize_department_path, method: :get  do |f|
        .modal-body
          .form-group
            = select_tag(:department_id, options_from_collection_for_select(@departments, :id, :name, current_department.id), {class: 'select'} )
        .modal-footer
          %button.btn.btn-primary{:type => "submit"}
            .icon-checkmark4
