- flash.each do |key, value|
  .content
    - if key.to_s == 'alert'
      .alert.bg-danger.alert-styled-left
        %button.close{ data: { dismiss: 'alert' } }
          %span &times;
          %span.sr-only Закрыть
        %span.text-semibold
          = value
    - else
      .alert.bg-info.alert-styled-left
        %button.close{ data: { dismiss: 'alert' } }
          %span &times;
          %span.sr-only Закрыть
        %span.text-semibold
          = value